

.list-items {
 
    margin-top: 15px;
    border-radius: 8px;
 margin-left: 0;
    background-color: #fff;

}

.padding {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}



.list-items .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-items .item img{
    width: 40px;
}

.list-items .item:hover {
    background-color: #e7edfe;
}

.item .item-text {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

