/***************************************** navbar Start *****************************************/

.nav-item:hover {
    cursor: pointer;
}

.nav-item {
    list-style: none;
}

.nav-item:hover .nav-link {
    color: rgba(255, 255, 255, 0.705) !important;
}

.login-btn {
    border-color: white !important;
}

.login-btn .nav-link {
    color: white !important;

}

.try-btnn {
    background-color: white !important;
    border-radius: 20px;
}

.try-btnn .nav-link {
    color: black !important;
}

.try-btnn:hover .nav-link {
    color: rgba(0, 0, 0, 0.568) !important;
}

.try-btnn .nav-link i {
    color: black !important;
}



.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #0063da;
    transition: all 300ms linear;
}

.navbar-toggler-icon:after,
.navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #0063da;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

/***************************************** navbar end *****************************************/

/***************************************** Hero start *****************************************/
.navHero {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

/***************************************** Hero end *****************************************/


.card {
    background-color: #f9fbfc;
    border-radius: 25px;
    transition: 200ms;
}

.card:hover {
    background-color: #0063da;
    color: white;

}

.card:hover p {
    color: rgba(255, 255, 255, 0.5) !important;
}


.teamCard {
    display: grid !important;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    align-items: center !important;
    justify-content: start !important;
}

@media (max-width: 1200px) {
    .teamCard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .teamCard {
        grid-template-columns: repeat(1, 1fr);
    }
}